# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
*.log

# Build files
dist/
build/

# Backend
backend/node_modules/
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/

# OS files
.DS_Store
Thumbs.db